{% extends "main_layout.html" %}

{% block title %}
Img Upload
{% endblock %}

{% block content %}
<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Edit Personnel</h3>
            <hr>
            <div class="row">
                <label for="">Image :</label>
                <img src="{{ url_for('static', filename='{}.jpg'.format(data[0])) }}" alt="Your Image {{ data[0] }}" width="100px" height="100px" style="border-radius: 50px;">
            </div>
            <hr>
            <form class="form" method="post" action="/update_submit/{{ data[0] }}">
                <div class="form-group row">
                    <label for="txtnbr" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtnbr" name="txtnbr" value='{{ data[0] }}' readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtname" name="txtname" value='{{ data[1] }}'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-2 col-form-label">nik</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nik" name="nik" value="{{ data[2] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="optskill" class="col-sm-2 col-form-label">kelamin</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="kelamin" id="kelamin">
                            <option {% if data[6] == 'Laki Laki' %} selected {% endif %} value="Laki Laki">Laki Laki</option>
                            <option {% if data[6] == 'Perempuan' %} selected {% endif %} value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-2 col-form-label">tanggal lahir</label>
                    <div class="col-sm-8">
                        <!-- <label for="tanda1">:</label> -->
                        <input type="date" id="tgl_lahir" name="tgl_lahir" value="{{ data[3] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-2 col-form-label">Pekerjaan</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Pekerjaan" name="Pekerjaan" value="{{ data[4] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="optskill" class="col-sm-2 col-form-label">Hasil</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="hasil" id="hasil">
                            <option {% if data[7] == 'katarak' %} selected {% endif %} value="katarak">Katarak</option>
                            <option {% if data[7] == 'normal' %} selected {% endif %} value="normal">Normal</option>
                            <option {% if data[7] == 'kualitas gambar kurang bagus edit!' %} selected {% endif %} value="kualitas gambar kurang bagus edit!">Error</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-8">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}