{% extends "main_layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="content">
    <h2>Pendeteksi Katarak</h2>
    <section class="content_isi">
        <p> Dalam meningkatkan pelayanan kesehatan dengan memanfaatkan kecerdasan buatan pada bidang computer vision
            yang di gunakan dalam mendeteksi katarak dengan gambar yang diambil dari kamera, sehingga
            dapat&nbsp;&nbsp;meningkatkan pelayanan kesehatan di Indonesia.</p>
    </section>
    <button onclick="location.href='/home'">Get Started</button>
    <!-- <button onclick="location.href='/admin'">Admin</button>
    <button onclick="location.href='/user'">User</button> -->
</section>
{% endblock %}