{% extends "main_layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Data Katarak</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-primary"><b>Add</b></a>
                </div>
                
            </div>
            <!-- <img src="../uploads/101.jpg" alt="image" width="500"> -->
            <!-- <img src="{{ url_for('static', filename='../uploads/101.jpg') }}" alt="Your Image"> -->

            <br>
            <table class="table" style="width: 80%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Img</th>
                        <th>Name</th>
                        <th>Nik</th>
                        <th>Kelamin</th>
                        <th>Pekerjan</th>
                        <th>Added</th>
                        <th>Hasil</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>
                                <img src="{{ url_for('static', filename='{}.jpg'.format(item[0])) }}" alt="Your Image {{item[0]}}" width="50px" height="50px" style="border-radius: 50px;">
                            </td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[6]}}</td>
                            <td>{{item[4]}}</td>
                            <td style="min-width: 110px">
                                {{item[5]}}
                            </td>
                            <td>{{item[7]}}</td>
                            <td class="flex" style="min-width: 170px">
                                <a href="/editHasil/{{item[0]}}" type="button" class="btn btn-secondary btn-sm"><b>Edit</b></a>
                                <a href="/HapusHasil/{{item[0]}}" type="button" class="btn btn-danger btn-sm"><b>Hapus</b></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="position-relative float-right">
                <a href="/" type="button" class="btn btn-dark "><b>Exit</b></a>
            </div>
            <br>
            <br>
            <br>
        </div>
        
    </div>


    
</section>
{% endblock %}